<footer>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eaque
    et sed fugiat enim natus nisi placeat facere, maxime dolorum, nesciunt
    atque autem? Accusamus animi saepe consequuntur rem quia eos.
  </p>
</footer>
