<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <header>
      <%- include('../partials/navbar'); %>

      <h1>Exemplo</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        nesciunt alias deleniti culpa facilis? Repellat consequatur repellendus
        a consequuntur odio eos in! Quisquam, facilis cum quod dignissimos
        veniam sint incidunt?
      </p>
    </header>

    <main>
      <section>
        <form action="">
          <fieldset>
            <legend>Login</legend>

            <label>
              Email
              <input type="email">
            </label>

            <label>
              Senha
              <input type="password" name="" id="">
            </label>
          </fieldset>

          <input type="submit" value="Login">
        </form>
      </section>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
