<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

  <body>
    <header>
      <%- include('../partials/navbar'); %>

      <h1>Exemplo</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        nesciunt alias deleniti culpa facilis? Repellat consequatur repellendus
        a consequuntur odio eos in! Quisquam, facilis cum quod dignissimos
        veniam sint incidunt?
      </p>
    </header>

    <main>
      <section>
        <h2>Projetos</h2>
        <p>Node com EJS na veia, seção projetos</p>
      </section>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
